.movie-card {
  width: auto;
  height: auto;
  margin: 1rem;
}

.movie-cards-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profile-button {
  margin-top: 1rem;
  margin-left: 1.5rem;
}
