.movie-card {
  margin: 1rem;
  width: auto;
  height: auto;
  background-color: #236598;
  color: white;
}

.movie-cards-container {
  background-color: rgb(211, 211, 218);
  width: 100%;
}

.movie-cards-grid {
  display: grid;
  max-width: 100%;
  padding-top: 4rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.movie-card-title {
  font-size: larger;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.movie-card-subtitle {
  color: white;
  margin-bottom: 0.3rem;
}

.profile-button {
  margin-right: 1rem;
  margin-left: auto;
}

.header {
  margin-left: 1rem;
  color: white;
}

.banner {
  position: fixed;
  z-index: 999;
  display: flex;
  width: inherit;
  min-width: 375px;
  height: 3.5rem;
  align-items: center;
  flex-direction: row;
  background-color: #114e7e;
}

@media screen and (max-width: 1600px) {
  .movie-cards-grid {
    display: grid;
    max-width: 100%;
    padding-top: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .movie-cards-grid {
    display: grid;
    max-width: 100%;
    padding-top: 4rem;
    grid-template-columns: 1fr;
  }
  .movie-card {
    margin: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    width: auto;
    height: auto;
    background-color: #236598;
    color: white;
  }
}

@media screen and (max-width: 575px) {
  .movie-cards-grid {
    display: grid;
    max-width: 100%;
    padding-top: 4rem;
    grid-template-columns: 1fr;
  }
  .movie-card {
    margin: 0.5rem;
    width: auto;
    min-width: 370px;
    height: auto;
    background-color: #236598;
    color: white;
  }
  .movie-card-img {
    width: 100%;
    height: auto;
  }
}
