.director-view-container {
  background-color: rgb(211, 211, 218);
  width: 100%;
}

.banner {
  position: fixed;
  z-index: 999;
  display: flex;
  width: inherit;
  min-width: 375px;
  height: 3.5rem;
  align-items: center;
  flex-direction: row;
  background-color: #114e7e;
}

.header {
  margin-left: 1rem;
  color: white;
  user-select: none;
}

.logout-button {
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.profile-button {
  margin-right: 1rem;
  margin-left: auto;
}

.director-view-content-container {
  margin: 3rem;
  padding-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.director-info-container {
  width: 75%;
}
