<div class="profile-container">
  <div class="banner">
    <h1 class="header">My Profile</h1>
    <button
      class="movie-button"
      mat-raised-button
      color="primary"
      (click)="goToMovies()"
    >
      MyFlix
    </button>
    <button
      class="logout-button"
      mat-raised-button
      color="primary"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div class="profile-info-container">
    <div>
      <h2>Username:</h2>
      <h3>{{ userRef.Username }}</h3>
      <h2>Email:</h2>
      <h3>{{ userRef.Email }}</h3>
      <h2>Date of Birth:</h2>
      <h3>{{ userBirthday }}</h3>
    </div>
    <button
      class="change-info-button"
      mat-raised-button
      color="primary"
      (click)="openChangeUserInfoDialog()"
    >
      Update User Info
    </button>
  </div>
</div>
